@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800');
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	outline: none;
}
/* End Reset CSS */
html{
  font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
  background-color: #1e1e1e;
  color: white;
}
.mainTitle{
  font-size: 10vh;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.mainDesc{
	text-align: center;
	font-size: 3.5vh;
}
.mainContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}
.valueTitle{
	margin: 1.4vh;
}
.mainContainerOne{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4vh;
  margin-left: 7vh;
}
.mainContainerTwo{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4vh;
  margin-right: 7vh;
}
input{
  width: 50vh;
  height: 10vh;
  font-size: 7vh;
	border-radius: .4vh;
	border: none;
}
.secondPara{
	text-align: center;
	font-size: 3.5vh;
	margin-top: 3vh;
}
div.mainContainerTwo input:focus{
  outline: none;
}
.madeByTopik{
	text-align: center;
	margin-top: 4vh;
	font-size: 3vh;
}
.madeByTopik{
	text-decoration: none;
	color: #ffffff;
	text-decoration-line: none;
}
.madeByTopik a:link {
    color: #ffffff;
}
.madeByTopik a:visited {
    color: #ffffff;
}
.madeByTopik a:hover {
    color: #ffffff;
}
.madeByTopik a:active {
    color: #ffffff;
}
@media only screen and (max-width: 750px) {
	.titleContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	}
	.mainTitle{
	  font-size: 5vh;
	}
	.mainTitle{
	  font-size: 10vh;
	  text-align: center;
	  margin-top: 2vh;
	  margin-bottom: 2vh;
	}
	.mainDesc{
		text-align: center;
		font-size: 3.5vh;
	}
}
